include MANIFEST.in
include requirements.txt
include setup.py
include README.md
recursive-include ehs *.py
recursive-include ehs *.json
recursive-include ehs *.js
recursive-include ehs *.md
recursive-include ehs *.txt
recursive-include ehs *.css
recursive-include ehs *.csv
recursive-include ehs *.html
recursive-include ehs *.ico
recursive-include ehs *.png
recursive-include ehs *.svg
recursive-exclude ehs *.pyc
